<div class="homepage">
  <div>
    <h1 class="page-header">HOME</h1>
  </div>
  <div>
    <h1>Welcome...</h1>
    <br />
    <h3>This is a beginner's guide to lifting.</h3>
  </div>
  <div>
    <br />
    <h4>This angular app allows you to learn how to lift and create your own weekly schedule for lifting using a muscle group <a ui-sref="diagram">diagram</a> which house a database of lifts to choose from.</h4>
    <br />
  </div>
  <div>
    <h4>Once you have created your schedule head over to the <a ui-sref="user">user</a> section to view and modify it.</h4>
    <br />
    <h2>Enjoy!</h2>
    <br />
    <h3>And remember...</h3>
    <br />
    <img ng-src="https://i.ytimg.com/vi/t9aGBxA3VII/maxresdefault.jpg"/>
  </div>
</div>
