@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
  box-sizing: border-box;
  overflow: auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

h1 {
  font-family: "Oswald", cursive;
}

area:focus {
  outline: 0;
}

ul {
  line-height: 120%;
}


#uiview {
  padding-top: 75px;
}

.workout-div {
  border-top: solid blue 1px;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: "Merriweather", sans-serif;
}

.template-lifts {
  margin: auto;
  height: 50vh;
  width: 45%;
  overflow-y: auto;
  border: solid black 5px;
  border-radius: 7px;
  text-align: center;
}

.template-lift {
  border-top: solid blue 1px;
  padding: 15px;
  border: solid blue 1px;
  border-radius: 5px;
  text-align: center;
}

.admin-template-lifts {
  margin: auto;
  height: 70vh;
  width: 90%;
  overflow-y: auto;
  text-align: center;
}

.week-div-container {
  height: auto;
  width: 100%;
}
.week-divs {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.week-div {
  margin: 2.5px;
  height: 45vh;
  width: 285px;
  overflow-y: auto;
  padding: 5px;
  border: black solid 5px;
  border-radius: 10px;
  text-align: center;
  min-width: 285px;
  flex-flow: wrap;
}

@media (max-width: 700px) {
  .week-divs {
    justify-content: center;
    flex-flow: column;
  }
}
