@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: "Oswald", cursive;
}

area:focus {
  outline: 0;
}

ul {
  line-height: 120%;
}

#uiview {
  padding-top: 5vh;
}

.workout-div {
  border-top: solid blue 1px;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: "Merriweather", sans-serif;
}
