<div class="abdominals">
  <div>
    <h1 class="page-header">ABDOMINALS</h1>
  </div>
  <div>
    <div class="workout-div">
      <h1>Plank</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/plank"><img ng-src="images/abdominals/plank.gif"/></a>
      <ul>
        <h3>
          <li>Get into a prone position on the floor, supporting your weight on your toes and your forearms. Your arms are bent and directly below the shoulder.</li>
          <li>Keep your body straight at all times, and hold this position as long as possible. To increase difficulty, an arm or leg can be raised.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Cable Crunch</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/cable-crunch"><img ng-src="images/abdominals/cablecrunch.gif"/></a>
      <ul>
        <h3>
          <li>Kneel below a high pulley that contains a rope attachment. Grasp cable rope attachment and lower the rope until your hands are placed next to your face.</li>
          <li>With the hips stationary, flex the waist as you contract the abs so that the elbows travel towards the middle of the thighs.</li>
          <li>Slowly return to the starting position as you inhale.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Knee Raise</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/kneehip-raise-on-parallel-bars"><img ng-src="images/abdominals/parallelbarlegraise.gif"/></a>
      <ul>
        <h3>
          <li>The torso should be straight with the lower back pressed against the pad of the machine and the legs extended pointing towards the floor.</li>
          <li>Now as you breathe out, lift your legs up as you keep them extended. Continue this movement until your legs are roughly parallel to the floor and then hold the contraction for a second.</li>
          <li>Slowly go back to the starting position as you breathe in.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Hanging Leg Raise</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/hanging-leg-raise"><img ng-src="images/abdominals/hanginglegraise.gif"/></a>
      <ul>
        <h3>
          <li>Hang from a chin-up bar with both arms.</li>
          <li>Raise your legs until the torso makes a 90-degree angle with the legs. Hold for a moment.</li>
          <li>Go back slowly to the starting position as you breathe in.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
    <h1>Bent Knee Hip Raise</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/bent-knee-hip-raise"><img ng-src="images/abdominals/reversecrunch.gif"/></a>
      <ul>
        <h3>
          <li>Lay flat on the floor with your arms next to your sides.</li>
          <li>Now bend your knees at around a 75 degree angle and lift your feet off the floor by around 2 inches.</li>
          <li>Using your lower abs, bring your knees in towards you as you maintain the 75 degree angle bend in your legs.</li>
          <li>Continue this movement until you raise your hips off of the floor by rolling your pelvis backward.</li>
          <li>Squeeze your abs at the top of the movement for a second and then return to the starting position slowly as you breathe in.</li>
        </h3>
      </ul>
    </div>
</div>
