<div class="biceps">
  <div>
    <h1 class="page-header">BICEPS</h1>
  </div>
  <div>
    <div class="workout-div">
      <h1>Barbell Curl</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-curl"><img ng-src="images/biceps/barbellcurl.gif"/></a>
      <ul>
        <h3>
          <li>While holding the upper arms stationary, curl the weights forward while contracting the biceps as you breathe out.</li>
          <li>Continue the movement until your biceps are fully contracted and the bar is at shoulder level.</li>
          <li>Slowly begin to bring the bar back to starting position as your breathe in.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Alternating Bicep Curl</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-alternate-bicep-curl"><img ng-src="images/biceps/alternatedumbbellcurl.gif"/></a>
      <ul>
        <h3>
          <li>While holding the upper arm stationary, curl the right weight as you rotate the palm of the hands until they are facing forward.</li>
          <li>Continue contracting the biceps as you breathe out until your biceps is fully contracted and the dumbbells are at shoulder level.</li>
          <li>Slowly begin to bring the dumbbell back to the starting position as your breathe in.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Bicep Curl</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-bicep-curl"><img ng-src="images/biceps/dumbbellcurl.gif"/></a>
      <ul>
        <h3>
          <li>Keeping the upper arms stationary, exhale and curl the weights while contracting your biceps.</li>
          <li>Continue to raise the weights until your biceps are fully contracted and the dumbbells are at shoulder level.</li>
          <li>Inhale and slowly begin to lower the dumbbells back to the starting position.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Incline Dumbbell Curl</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/incline-dumbbell-curl"><img ng-src="images/biceps/inclinedumbbellcurl.gif"/></a>
      <ul>
        <h3>
          <li>While holding the upper arm stationary, curl the weights forward while contracting the biceps as you breathe out.</li>
          <li>Continue the movement until your biceps are fully contracted and the dumbbells are at shoulder level.</li>
          <li>Slowly begin to bring the dumbbells back to starting position as your breathe in.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Preacher Curl</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/preacher-curl"><img ng-src="images/biceps/preachercurl.gif"/></a>
      <ul>
        <h3>
          <li>With the upper arms positioned against the preacher bench pad and the chest against it, hold the E-Z Curl Bar at shoulder length.</li>
          <li>As you breathe in, slowly lower the bar until your upper arm is extended and the biceps is fully stretched.</li>
          <li>As you exhale, use the biceps to curl the weight up until your biceps is fully contracted and the bar is at shoulder height.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Reverse-Grip Barbell Curl</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/reverse-barbell-curl"><img ng-src="images/biceps/reversegripcurl.gif"/></a>
      <ul>
        <h3>
          <li>hile holding the upper arms stationary, curl the weights while contracting the biceps as you breathe out.</li>
          <li>Continue the movement until your biceps are fully contracted and the bar is at shoulder level.</li>
          <li>Slowly begin to bring the bar back to starting position as your breathe in.</li>
        </h3>
      </ul>
    </div>
  </div>
</div>
