<div class="glutes">
  <div>
    <h1 class="page-header">GLUTES</h1>
  </div>
  <div>
    <div class="workout-div">
      <h1>Barbell Deadlift</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-deadlift"><img ng-src="images/glutes/barbelldeadlift.gif"/></a>
      <ul>
        <h3>
          <li>Approach the bar so that it is centered over your feet. Your feet should be about hip-width apart.</li>
          <li>Bend at the hip to grip the bar at shoulder-width allowing your shoulder blades to protract.</li>
          <li>With your feet and your grip set, take a big breath and then lower your hips and flex the knees until your shins contact the bar.</li>
          <li>Look forward with your head. Keep your chest up and your back arched.</li>
          <li>Begin driving through the heels to move the weight upward.</li>
          <li>After the bar passes the knees aggressively pull the bar back, pulling your shoulder blades together as you drive your hips forward into the bar.</li>
          <li>Lower the bar by bending at the hips and guiding it to the floor.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Barbell Squat</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-squat"><img ng-src="images/glutes/barbellsquat.gif"/></a>
      <ul>
        <h3>
          <li>Begin with the barbell supported on top of the traps. The chest should be up and the head facing forward.</li>
          <li>Adopt a hip-width stance with the feet turned out as needed.</li>
          <li>Descend by flexing the knees, refraining from moving the hips back as much as possible. This requires that the knees travel forward.</li>
          <li>Ensure that the knees stay aligned with the feet. The goal is to keep the torso as upright as possible.</li>
          <li>Continue all the way down, keeping the weight on the front of the heel.</li>
          <li>At the moment the upper legs contact the lower legs (or your thighs reach parallel with the floor) reverse the motion, driving the weight upward.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Dumbbell Lunge</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-lunges"><img ng-src="images/glutes/dumbbelllunge.gif"/></a>
      <ul>
        <h3>
          <li>Step forward with your right leg around 2 feet or so from the foot being left stationary behind and lower your upper body down, while keeping the torso upright and maintaining balance.</li>
          <li>Using mainly the heel of your foot, push up and go back to the starting position as you exhale.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Barbell Lunge</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-lunge"><img ng-src="images/glutes/barbelllunge.gif"/></a>
      <ul>
        <h3>
          <li>Hold on to the bar using both arms at each side and lift it off the rack by first pushing with your legs and at the same time straightening your torso.</li>
          <li>Step away from the rack and step forward with your right leg and squat down through your hips, while keeping the torso upright and maintaining balance.</li>
          <li>Using mainly the heel of your foot, push up and go back to the starting position as you exhale.</li>
        </h3>
      </ul>
    <div class="workout-div">
      <h1>Glute Bridge</h1>
        <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-glute-bridge"><img ng-src="images/glutes/glutebridge.gif"/></a>
        <ul>
          <h3>
            <li>Begin seated on the ground with a loaded barbell over your legs.</li>
            <li>Roll the bar so that it is directly above your hips, and lay down flat on the floor.</li>
            <li>Begin the movement by driving through with your heels, extending your hips vertically through the bar.</li>
            <li>Note: Your weight should be supported by your upper back and the heels of your feet.</li>
            <li>Extend as far as possible, then reverse the motion to return to the starting position.</li>
          </h3>
        </ul>
  </div>
</div>
