<div class="hamsrings">
  <div>
    <h1 class="page-header">HAMSTRINGS</h1>
  </div>
  <div>
    <div class="workout-div">
      <h1>Stiff-Legged Barbell Deadlift</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/stiff-legged-barbell-deadlift"><img ng-src="images/hamstrings/stifflegdeadlift.gif"/></a>
      <ul>
        <h3>
          <li>Stand with your torso straight and your legs spaced using a shoulder width or narrower stance. The knees should be slightly bent.</li>
          <li>Keeping the knees stationary, lower the barbell to over the top of your feet by bending at the waist while keeping your back straight.</li>
          <li>Start bringing your torso up straight again by extending your hips until you are back at the starting position.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Good Morning</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/good-morning"><img ng-src="images/hamstrings/goodmorning.gif"/></a>
      <ul>
        <h3>
          <li>Rack the bar across the rear of your shoulders as you would a power squat.</li>
          <li>Begin by bending at the hips, moving them back as you bend over to near parallel.</li>
          <li>Keep your back arched and your cervical spine in proper alignment.</li>
          <li>Reverse the motion by extending through the hips with your glutes and hamstrings.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Romanian Deadlift</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/romanian-deadlift"><img ng-src="images/hamstrings/romaniandeadlift.gif"/></a>
      <ul>
        <h3>
          <li>Hold a bar at hip level with a pronated (palms facing down) grip. Your shoulders should be back, your back arched, and your knees slightly bent.</li>
          <li>Lower the bar by moving your butt back as far as you can. Keep the bar close to your body, your head looking forward, and your shoulders back.</li>
          <li> Done correctly, you should reach the maximum range of your hamstring flexibility just below the knee.</li>
          <li>At the bottom of your range of motion, return the starting position by driving the hips forward to stand up tall.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Barbell Squat</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-squat"><img ng-src="images/hamstrings/barbellsquat.gif"/></a>
      <ul>
        <h3>
          <li>Begin with the barbell supported on top of the traps. The chest should be up and the head facing forward.</li>
          <li>Adopt a hip-width stance with the feet turned out as needed.</li>
          <li>Descend by flexing the knees, refraining from moving the hips back as much as possible. This requires that the knees travel forward.</li>
          <li>Ensure that the knees stay aligned with the feet. The goal is to keep the torso as upright as possible.</li>
          <li>Continue all the way down, keeping the weight on the front of the heel.</li>
          <li>At the moment the upper legs contact the lower legs (or your thighs reach parallel with the floor) reverse the motion, driving the weight upward.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Leg Press</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/leg-press"><img ng-src="images/hamstrings/legpress.gif"/></a>
      <ul>
        <h3>
          <li>Using a leg press machine, sit down on the machine and place your legs on the platform directly in front of you.</li>
          <li>Lower the safety bars holding the weighted platform in place and press the platform all the way up until your legs are fully extended in front of you.</li>
          <li>Make sure that you do not lock your knees. Your torso and the legs should make a perfect 90-degree angle.</li>
          <li>Slowly lower the platform until your upper and lower legs make a 90-degree angle.</li>
          <li>Pushing mainly with the heels of your feet and using the quadriceps go back to the starting position as you exhale.</li>
        </h3>
      </ul>
    </div>
  </div>
</div>
