<div class="hips">
  <div>
    <h1 class="page-header">HIPS</h1>
  </div>
  <div>
    <div class="workout-div">
      <h1>Thigh Abductor</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/thigh-abductor"><img ng-src="images/hips/thighabductor.gif"/></a>
      <ul>
        <h3>
          <li>Slowly press against the machine with your legs to move them away from each other while exhaling.</li>
          <li>eel the contraction for a second and begin to move your legs back to the starting position while breathing in.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Thigh Adductor</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/thigh-abductor"><img ng-src="images/hips/thighadductor.gif"/></a>
      <ul>
        <h3>
          <li>Slowly press against the machine with your legs to move them towards each other while exhaling.</li>
          <li>Feel the contraction for a second and begin to move your legs back to the starting position while breathing in.</li>
        </h3>
      </ul>
    </div>
  </div>
</div>
