<div class="obliques">
  <div>
    <h1 class="page-header">OBLIQUES</h1>
  </div>
  <div>
    <div class="workout-div">
      <h1>Side Plank</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/side-bridge"><img ng-src="images/obliques/sideplank.gif"/></a>
      <ul>
        <h3>
          <li>Lie on your side and support your body between your forearm and knee to your feet.</li>
          <li>Hold the movement, keeping your core tight</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">'
      <h1>Dumbbell Side Bend</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-side-bend"><img ng-src="images/obliques/sidebend.gif"/></a>
      <ul>
        <h3>
          <li>While keeping your back straight and your head up, bend only at the waist to the right as far as possible.</li>
          <li>Breathe in as you bend to the side. Then hold for a second and come back up to the starting position as you exhale.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Alternating Heel Touches</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/alternate-heel-touchers"><img ng-src="images/obliques/heeltouch.gif"/></a>
      <ul>
        <h3>
          <li>Crunch over your torso forward and up about 3-4 inches to the right side and touch your right heel as you hold the contraction for a second.</li>
          <li>Now go back slowly to the starting position as you inhale.</li>
          <li>Now crunch over your torso forward and up around 3-4 inches to the left side and touch your left heel as you hold the contraction for a second.</li>
          <li>Continue alternating sides in this manner until all prescribed repetitions are done.</li>
        </h3>
      </ul>
    </div>
    <div class="workout-div">
      <h1>Cross-Body Crunch</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/cross-body-crunch"><img ng-src="images/obliques/crossbodycrunch.gif"/></a>
      <ul>
        <h3>
          <li>Curl up and bring your right elbow and shoulder across your body while bring your left knee in toward your left shoulder at the same time.</li>
          <li>Reach with your elbow and try to touch your knee.</li>
          <li>Now go back down to the starting position as you inhale and repeat with the left elbow and the right knee.</li>
        </h3>
      </ul>
    </div>
</div>
