<div class="quads">
  <div>
    <h1 class="page-header">QUADS</h1>
  </div>
  <div>
    <div class='workout-div'>
      <h1>Barbell Squat</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-squat"><img ng-src="images/quads/barbellsquat.gif"/></a>
      <ul>
        <h3>
          <li>Begin with the barbell supported on top of the traps. The chest should be up and the head facing forward.</li>
          <li>Adopt a hip-width stance with the feet turned out as needed.</li>
          <li>Descend by flexing the knees, refraining from moving the hips back as much as possible. This requires that the knees travel forward.</li>
          <li>Ensure that the knees stay aligned with the feet. The goal is to keep the torso as upright as possible.</li>
          <li>Continue all the way down, keeping the weight on the front of the heel.</li>
          <li>At the moment the upper legs contact the lower legs (or your thighs reach parallel with the floor) reverse the motion, driving the weight upward.</li>
        </h3>
      </ul>
    </div>
    <div class='workout-div'>
      <h1>Dumbbell Lunge</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-lunges"><img ng-src="images/quads/dumbbelllunge.gif"/></a>
      <ul>
        <h3>
          <li>Step forward with your right leg around 2 feet or so from the foot being left stationary behind and lower your upper body down, while keeping the torso upright and maintaining balance.</li>
          <li>Using mainly the heel of your foot, push up and go back to the starting position as you exhale.</li>
        </h3>
      </ul>
    </div>
    <div class='workout-div'>
      <h1>Barbell Lunge</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-lunge"><img ng-src="images/quads/barbelllunge.gif"/></a>
      <ul>
        <h3>
          <li>This is a movement that requires a great deal of balance.</li>
          <li>Step under the bar and place the back of your shoulders (slightly below the neck) across it.</li>
          <li>Step away from the rack and step forward with your right leg and squat down through your hips, while keeping the torso upright and maintaining balance.</li>
          <li>Using mainly the heel of your foot, push up and go back to the starting position as you exhale.</li>
        </h3>
      </ul>
    </div>
    <div class='workout-div'>
      <h1>Dumbbell Step-Ups</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-step-ups"><img ng-src="images/quads/dumbbellstepup.gif"/></a>
      <ul>
        <h3>
          <li>Place the right foot on the elevated platform.</li>
          <li> Step on the platform by extending the hip and the knee of your right leg.</li>
          <li>Use the heel mainly to lift the rest of your body up and place the foot of the left leg on the platform as well.</li>
          <li>Step down with the left leg by flexing the hip and knee of the right leg as you inhale.</li>
          <li>eturn to the original standing position by placing the right foot of to next to the left foot on the initial position.</li>
        </h3>
      </ul>
    </div>
    <div class='workout-div'>
      <h1>Barbell Step-Ups</h1>
      <a href="http://www.bodybuilding.com/exercises/detail/view/name/barbell-step-ups"><img ng-src="images/quads/barbellstepup.gif"/></a>
      <ul>
        <h3>
          <li>Place the right foot on the elevated platform.</li>
          <li> Step on the platform by extending the hip and the knee of your right leg.</li>
          <li>Use the heel mainly to lift the rest of your body up and place the foot of the left leg on the platform as well.</li>
          <li>Step down with the left leg by flexing the hip and knee of the right leg as you inhale.</li>
          <li>eturn to the original standing position by placing the right foot of to next to the left foot on the initial position.</li>
        </h3>
      </ul>
    </div>
</div>
